%% -*- erlang -*-

{erl_opts, [no_debug_info]}.
{deps, []}.
{minimum_otp_vsn, "21.1"}.

{escript_incl_apps, [essh_agent_proxy]}.
{escript_main_app, essh_agent_proxy}.
{escript_name, essh_agent_proxy}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

{post_hooks
,[{escriptize, "cp \"$REBAR_BUILD_DIR/bin/essh_agent_proxy\" ./essh_agent_proxy"}
 ,{clean, "rm -rf ./essh_agent_proxy"}]}.
